<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yberry.dinehawaii">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26" />

    <permission
        android:name="package.name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:overrideLibrary="com.paypal.android.sdk.payments"
        tools:replace="android:icon">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="46b22deb00c3fd241060e73dbd5f7205877688ec" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAy7Y14wTIWwuH-_-Ap9tOyWCoWXGg2uXM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs "com.example.myapp://" -->
                <data
                    android:host="fb.me"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bussiness.Activity.BusinessRestFirstSearchBusiness"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Bussiness.Activity.BusiFirstReg_20A_1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Bussiness.Activity.BusiFirstReg_20A_2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Bussiness.Activity.EmployeesPosition"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.GuestCustRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!--
                <activity
                    android:name=".twitterlogin.WebViewActivity"
                    android:screenOrientation="portrait"
                    android:windowSoftInputMode="stateHidden|adjustPan" />
        -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Bussiness.Activity.BusinessLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.BusinessLoginError"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.SelectServiceTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.GuestCustomerLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.GuestCustRegisterActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.SelectLanguageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.FoodTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.ReservationDeailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.SendMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!--
            <activity
            android:name=".activity.FeedBackAndReviews"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        -->
        <activity
            android:name=".Bussiness.Activity.OrderDetailActivty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.BusinessRestSecondReg_20B"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.BusiSelectPackageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.PaypalApprovedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.BusiPackagePaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.RestaurentDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.MakingReservationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.PlaceAnOrder"
            android:autoRemoveFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.CartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!--
            <activity
            android:name=".activity.MakingReservationNextOne"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        -->
        <activity
            android:name=".Customer.Activity.EGiftApproved"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.CustomerNaviDrawer"
            android:label="@string/title_activity_customer_navi_drawer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer.Activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bussiness.Activity.BusinessNaviDrawer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.MultipleServiceType_52B"
            android:label="@string/title_activity_multiple_service_type_52_b" />
        <activity
            android:name=".Bussiness.Activity.SelectJobTitleActivity"
            android:label="@string/title_activity_select_job_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.BusinessForgetPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.CustomerForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.CustomerFeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.CustomerReviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Customer.Activity.CustomerConfirmreservationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <!-- Accepts URIs "com.example.myapp://" -->
            <data android:scheme="com.yberry.dinehawaii" />
        </intent-filter>

        <activity
            android:name=".Customer.Activity.CustomerResturantReviewAcivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Bussiness.Activity.AddNewTableActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".Bussiness.Activity.EditMenuItemActivity" />
        <activity android:name=".Bussiness.Activity.SelectFoodTypeActivity" />
        <activity android:name=".Bussiness.Activity.ImportFoodTypesActivity" />
        <activity android:name=".Bussiness.Activity.BusinessPositionActivity" />
        <activity
            android:name=".Customer.Activity.CheckOutActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".Bussiness.Activity.ManageServiceTypeActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="46b22deb00c3fd241060e73dbd5f7205877688ec" />

        <activity android:name=".Customer.Activity.CustomerOrderDetailActivity" />
        <activity android:name=".Customer.Activity.CustomerResDetailActivity" />
        <activity
            android:name=".Customer.Activity.DialogActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <receiver
            android:name=".services.NotificationReciever"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Bussiness.Activity.AddNewCouponActivity"
            android:label="@string/title_activity_add_new_coupon"
            android:theme="@style/AppTheme" />
        <activity android:name=".vendor.Activity.VendorLoginWebViewActivity" />
        <activity android:name=".vendor.Activity.AddNewVendorActivity" />
        <activity android:name=".vendor.Activity.VendorCartActivity" />
        <activity android:name=".vendor.Activity.VendorBidCartActivity" />
        <activity android:name=".vendor.Activity.OrderItemListActivity" />
        <activity android:name=".vendor.Activity.VendorListActivity" />
        <activity android:name=".vendor.Activity.BidItemListActivity" />
        <activity android:name=".vendor.Activity.VendorItemListActivity" />
        <activity android:name=".Bussiness.Activity.DeliveryChargesActivity" />
        <activity
            android:name=".vendor.Activity.BidListActivity"
            android:label="@string/title_activity_bid_list"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>